
button{
    border: none;
    background: darkblue;
    padding: 7px 20px;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.color{
    color: red !important;
}